/**
 * User: ed8
 * Date: 7/27/14
 */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.stdout {
    width: 80%;
    min-height: 20em;
    margin: 0 auto;
}
.brand {
    position: relative;
    top: -.75em;
}

p {
    padding: .75em;
    margin-top: .25em;
}
p:last-child {
    margin-top: 0;
}

.btn-toolbar .btn-action span,
.btn-clear span
{
    display: none;
}
.btn-toolbar .btn-action:hover span,
.btn-clear:hover span
{
    display: inline;
}
.btn-action + .tooltip .tooltip-inner {
    white-space: nowrap;
}

.service {
    padding-left: 1.5em;
}

.panel-heading .service > li + li {
    margin-left: .2em;
}
.service .btn-xs, .cnc .btn-xs {
    padding: 1px 5px;
}
.service .glyphicon+span {
    padding-left: .25em;
}


#dangerous-area {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
}

.child {
    z-index: 1001;
    opacity: 0.99;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.anchor small a {
    color: #fff;
    transition: color ease .5s;
}
.anchor:hover small a {
    color: #999;
}

.list-striped > li:nth-child(2n+1)
 {
    background-color: hsl(0, 0%, 96%);
}
.list-striped > li:hover {
    background-color: hsl(200, 65%, 91%);
}

.status-danger {
    color: #d9534f;
}
.status-in-progress {
    color: hsl(35, 84%, 62%)
}