/**
 * User: ed8
 * Date: 7/27/14
 */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.stdout {
    width: 80%;
    min-height: 20em;
    margin: 0 auto;
}
.brand {
    position: relative;
    top: -.75em;
}

h2.panel-title {
    cursor: pointer;
}

p {
    padding: .75em;
    margin-top: .25em;
}
p:last-child {
    margin-top: 0;
}

.btn-toolbar .btn-action span,
.btn-clear span
{
    display: none;
}
.btn-toolbar .btn-action:hover span,
.btn-clear:hover span
{
    display: inline;
}
.btn-action + .tooltip .tooltip-inner {
    white-space: nowrap;
}
.btn-danger-disabled:hover {
    color: #FFF;
    background-color: #D2322D;
    border-color: #AC2925;
}
.hide-btn-content .btn-content {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


.service {
    padding-left: 1.5em;
}

.panel-heading .service > li + li {
    margin-left: .2em;
}
.service .btn-xs, .cnc .btn-xs {
    padding: 1px 5px;
}
.service .glyphicon+span {
    padding-left: .25em;
}


#dangerous-area {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
}

.child {
    z-index: 1001;
    opacity: 0.99;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.anchor small a {
    color: #fff;
    transition: color ease .5s;
}
.anchor:hover small a {
    color: #999;
}

.panel-heading .nav-action {
    margin-top: -1.4em;
}
.nav-action > .divider {
    border: thin solid transparent;
    width: 1em;
}


.channels-list {
    margin-bottom: 0;
}
.list-striped {
    line-height: 2em;
    height: 2em;
}
.list-striped > li:nth-child(2n+1)
 {
    background-color: hsl(0, 0%, 96%);
}
.list-striped > li:hover {
    background-color: hsl(200, 65%, 91%);
}

.status-danger {
    color: #d9534f;
}
.status-in-progress {
    transform: rotate(90deg);
    color: hsl(35, 84%, 62%)
}
.greedy-fit { /* fix for add-channel buttun in channels list */
    width: 100%;
}
.repulse {
    margin: .5em;
}


/**
    Tada animation on $('block').addclass()
*/
.animated { 
    -webkit-animation-duration: 1.1s; 
    animation-duration: 1.1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:3; 
    -webkit-animation-iteration-count:3; 
} 

@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.8) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.4) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.4) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.8) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.4) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.4) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}